@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
body{
    font-family: 'Roboto','Noto Sans KR', sans-serif;
}

/* cover */
/* cover */
/* cover */
.cover{
    width: 100%; height: 89%; 
    background: #eceaf8;
    position: fixed; left:0px; bottom: 0;
    border-top:20px double #b4aeb8;
    z-index:300;
    box-sizing: border-box;
    /* display: none; */
    left:-100%;
}
@keyframes line_ani1{
    0%{height:0%;}
    100%{height:100%;}
}
.cover .line1{
    width: 10px; height: 0%;
    background: #b4aeb8;
    border-radius:0 0 20px 20px;
    position: absolute; left: 50px; top: 0;
}
.cover .line1.on{
    animation:line_ani1 4.5s ease-in;
    animation-fill-mode: forwards;
}
.cover .line2{
    width: 15px; height: 100%;
    background: #b4aeb8;
    border-radius:0 0 20px 20px;
    position: absolute; left: 100px; top: 0;
}
.cover .line2.on{
    animation:line_ani1 3s ease-out;
    animation-fill-mode: forwards;
}
.cover .line3{
    width: 5px; height: 100%;
    background:#b2edff;
    border-radius:20px 20px 0 0;
    position: absolute; left: 200px; bottom: 0;
}
.cover .line3.on{
    animation:line_ani1 6s linear;
    animation-fill-mode: forwards;
}
.cover ul{
    width: 50%;
    /* border:1px solid red; */
    margin:40px 0 0 600px;
    text-align:right;
}
.cover ul li{
    margin:0 0 20px 0;
}
.cover ul li a{
    font-size:4em; font-weight: bold; color:#b4aeb8;
    position: relative;
}
.cover ul li a:before{
    content: '';
    width:0%; height: 2px;
    background:#b4aeb8;
    position: absolute; left: 50%; bottom: 0;
    transform: translateX(-50%);
    transition:all 0.5s ease;
}
.cover ul li a:hover:before{
    width: 100%;
}
.cover ul li a:after{
    content: '';
    width:0px; height:0px;
    background: #b2edff;
    position: absolute; right:-10px; bottom:0;
    transform: translateX(-50%);
    transition:all 0.5s 0.1s ease;
}
.cover ul li:hover a:after{
    width: 10px; height: 10px;
}
.cover ul li a span{
    color:#ff9fb8;
}


/* header */
/* header */
/* header */
header{
    position: fixed; right: 0; top:20px;
    width: 100%; height: 50px;
    z-index:10;
    /* border:1px solid red; */
}
/* header_left */
/* header_left */
header .header_left{
    float:left;
    margin:0 0 0 80px;
    /* border:1px solid red; */
    width: 50px; height: 50px;
}
header .header_left h1{
    position: relative;
    width: 50px; height: 50px;
}
header .header_left h1 .img1{
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
header .header_left h1 .img1.on{
    display:none;
}
header .header_left h1 .img2{
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index:1;
}
header .header_left h1 .img2.on{
    display:none;
}
header .header_left h1 span{
    width:5px; height:5px;
    border-radius:5px;
    background:transparent;
    border:5px double #b2edff;
    animation:span_ani1 3s linear alternate-reverse infinite;
    position:absolute; left:70%; top:80%;
    transform:translate(-55%,-55%);
}
@keyframes span_ani1{
    0%{transform: rotateZ(0deg);}    
    100%{transform: rotateZ(360deg);}    
}
/* header_right */
/* header_right */
header .header_right{
    width: 35%; height: 50px;
    float:right;
    background:#eceaf8;
    border-radius:30px 0 0 30px;
    border:1px solid #9d9ea0;
}
header .header_right.on{
    width: 5%;
    transition:all 0.5s ease;
}
/* gnb */
/* gnb */
header .gnb{
    display: flex;
    justify-content: end;
    margin:0 0 0 50px;
    float:left;
    /* border:1px solid red; */
}
header .gnb.on{
    display: none;
}
header .gnb li{
    margin:0 20px 0 0;
    /* border:1px solid red; */
    position: relative;
}
header .gnb li a{
    color:#b4aeb8; font-weight:bold;
    line-height: 50px;
    padding:5px 5px 5px 5px;
}
header .gnb li.on a{
    color:#eceaf8;
    text-shadow:-2px 0 #b4aeb8, 0 2px #b4aeb8, 2px 0 #b4aeb8, 0 -2px #b4aeb8;
}
/* m_btn */
/* m_btn */
header .m_btn{
    width: 30px; height: 30px;
    /* position: absolute; right: 50px; top:50%;
    transform: translateY(-50%); */
    cursor: pointer;
    /* border:1px solid red; */
    float:right;
    margin:10px 30px 0 0;
    position: relative;
}
header .m_btn .line{
    display:block;
    width: 100%; height: 100%;
}
header .m_btn .line span{
    display:block;
    width: 20px; height: 4px;
    background: #b4aeb8;
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
    transition:all 0.3s ease;
}
header .m_btn .line span:before{
    content:'';
    width: 30px; height: 4px;
    background: #b4aeb8;
    position: absolute; left: -1px; top:-10px;
    transition:all 0.3s ease;
}
header .m_btn .line span:after{
    content:'';
    width: 30px; height: 4px;
    background: #b4aeb8;
    position: absolute; left: -1px; top:10px;
    transition:all 0.3s ease;
}
header .m_btn .line.on span{
    background: rgba(255,255,255,0);
}
header .m_btn .line.on span:before{
    transform: rotate(45deg); top: 0;
}
header .m_btn .line.on span:after{
    transform: rotate(-45deg); top:0;
}

/* main */
/* main */
/* main */
/* page botton */
/* page botton */
#fp-nav.right{
    background:#eceaf8;
    border-radius: 30px;
}
#fp-nav.right ul .active span{
    background: #b2edff;
}
#fp-nav.right ul li a span{
    background: #9d9ea0;
}
#fp-nav.right ul li a:hover span{
    background:#ffffff;
    border:3px solid #ff9fb8;
    box-sizing: border-box;
}
/* section */
/* section */
#fullpage .section h2{
    /* border:1px solid red; */
    float:right;
    font-size:3em; font-weight:bold; font-style: oblique; color:#9d9ea077;
    text-align:left;
    width:300px;
    background:#eceaf8;
    border-radius:50px 0 0 10px;
    padding:20px 0px 20px 20px;
    margin:0 -2000px 300px 0;
    position: relative; top:-10%; left: -10%;
}
#fullpage .section:nth-child(even) h2{
    font-size:3em; font-weight:bold; font-style: oblique; color:#eceaf8;
    background:#9d9ea077;
    position: relative; top:-10%; left: -10%;
}
@keyframes h2_ani1{
    0%{margin-right:-100%;}
    50%{margin-right:-10%;}
    100%{margin-right:-14%;}
}
#fullpage .section h2.on{
    animation:h2_ani1 2s ease;
    animation-fill-mode: forwards;
}

/* home */
/* home */
#fullpage .home{
    position: relative;
}
#fullpage .home .cic1{
    /* border:1px solid red; */
    border-radius:100%;
    position: absolute; left:50%; top:50%;
    transform: translate(-50%, -50%);
    width: 500px; height: 500px;
    background-color: #b2edff;
    opacity:0.8;
    z-index:5;
}
#fullpage .home .cic1.on{
    animation: cic1_ani 6s ease;
    animation-fill-mode: forwards;
}
@keyframes cic1_ani{
    0%{transform: translate(-50%, -50%;)}
    25%{transform: translate(-150%, -50%);}
    50%{transform: translate(-50%, -50%);
        width: 500px; height: 500px;
        background-color: #b2edff;
        opacity:0.8;}
    75%{width: 200px; height: 200px; 
        transform: translate(-50%, -50%);
        background-color: #ff8c00;
        border:none;
        opacity:1;}
    100%{width: 200px; height: 200px;
        opacity: 0;}
}
#fullpage .home .cic2{
    /* border:1px solid red; */
    border-radius:100%;
    position: absolute; left:50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 500px; height: 500px;
    background-color: #eceaf8;
    opacity:0.8;
}
#fullpage .home .cic2.on{
    animation: cic2_ani 3s ease;
    animation-fill-mode: forwards;
}
@keyframes cic2_ani{
    0%{transform: translate(-50%, -50%);}
    50%{transform: translate(-85%, -50%);
        opacity:0.8;}
    100%{transform: translate(-50%, -50%);
        opacity:0;}
}
#fullpage .home .cic3{
    /* border:1px solid red; */
    border-radius:100%;
    position: absolute; left:50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 500px; height: 500px;
    background-color: #9d9ea0;
    opacity:0.8;
}
#fullpage .home .cic3.on{
    animation:cic3_ani 3s ease;
    animation-fill-mode: forwards;
}
@keyframes cic3_ani{
    0%{transform: translate(-50%, -50%);}
    50%{transform: translate(-15%, -50%);
        opacity: 0.8;}
    100%{transform: translate(-50%, -50%);
        opacity:0;}
}
#fullpage .home .cic4{
    /* border:1px solid red; */
    border-radius:100%;
    position: absolute; left:50%; top:50%;
    transform: translate(-50%, -50%);
    width: 500px; height: 500px;
    background-color: #ff9fb8;
    opacity:0.8;
}
#fullpage .home .cic4.on{
    animation:cic4_ani 3s ease;
    animation-fill-mode: forwards;
}
@keyframes cic4_ani{
    0%{transform: translate(-50%, -50%);}
    50%{transform: translate(50%, -50%);
        opacity:0.8;}
    100%{transform: translate(-50%, -50%);
        opacity:0;}
}
#fullpage .home .cic5{
    /* border:1px solid red; */
    border-radius:100%;
    position: absolute; left:50%; top:50%;
    transform: translate(-50%, -50%);
    width: 200px; height: 200px;
    background-color: #faff75;
    opacity:0;
    z-index:9;
}
#fullpage .home .cic5.on{
    animation:cic5_ani 0.2s ease-out 4.5s;
    animation-fill-mode: forwards;
}
@keyframes cic5_ani{
    0%{opacity:0.7;}
    100%{width: 700px; height: 700px;
        background-color: #ffffff00;
        border-radius:50%;
        background-origin: border-box;
        background-image: linear-gradient(to right, #e5e1ff, #68dcff 20%, #ff9fb8);
        border:none;
        opacity:1;}
}
#fullpage .home .cic6{
    /* border:1px solid blue; */
    width: 700px; height: 700px;
    background: url('../images/circular1.png')no-repeat;
    background-size:700px 700px;
    position: absolute; left:50%; top:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    opacity: 0;
}
#fullpage .home .cic6.on{
    animation:cic6_ani 10s linear 6s alternate infinite;
    animation-fill-mode:backwards;
}
@keyframes cic6_ani{
    0%{transform: translate(-50%, -50%) rotate(360deg);}
    100%{transform: translate(-50%, -50%) rotate(-360deg);
        opacity:0.7;}
}
#fullpage .home .h2_1{
    /* border: 1px solid red; */
    position: absolute; left:50%; top:50%;
    transform: translate(-50%,-300%);
    font-size:2em; font-weight:bold; color:#777;
    padding:0;
    background:none;
    animation:h2_1_ani  1.5s 1s;
    animation-fill-mode: backwards;
    z-index:10;
}
@keyframes h2_1_ani{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#fullpage .home .h2_2{
    /* border:1px solid red; */
    padding:0;
    background:none;
    font-size:10em; font-weight:bold; color:#4b4b4bc8;
    width:max-content;
    position: absolute; left:50%; top:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    animation:h2_2_ani 1.5s ease 2s forwards;
    z-index:10;
}
@keyframes h2_2_ani{
    0%{opacity: 0; transform: translate(-50%, -50%);}
    100%{opacity: 1; transform: translate(-50%,-10%);}
}


/* about */
/* about */
#fullpage .about{
    background:radial-gradient(at 80% 50%, #eceaf8 60%,#ffbfcf);
}
#fullpage .about .wrap{
    margin:0 auto;
    /* border:1px solid red; */
    width: 1000px; height: 500px;
    box-sizing: border-box;
    
}
#fullpage .about .wrap .box1{
    float:left;
    width: 350px; height: 350px;
    background: url('../images/Untitled-2.jpg')no-repeat #ffffff;
    background-size:325px 400px;
    background-position:50% 30%;
    border:15px solid #9d9ea0;
    border-radius:90%;
    transition:all 1s ease;
    margin-top:100px;
    cursor: pointer;
    /* border:1px solid red; */
}
#fullpage .about .wrap .box1.on{
    float:right;
    margin:130px 0 0 0;
}
#fullpage .about .wrap .box1:hover{
    transform: scale(1.1);
    transition:all 0.1s linear;
}
#fullpage .about .wrap .box1:hover:before{
    content:'';
    width: 50px; height: 50px;
    background: url('../images/click.png')no-repeat;    
    background-size:50px 50px;
    position: absolute; left: 0; top:20px;
    transform:rotate(150deg);
}
#fullpage .about .wrap .box2{
    float:right;
    margin:0px 130px 0 0;
    /* display:none; */
    /* border:1px solid red; */
}
#fullpage .about .wrap .box2.on{
    animation:box2_ani1 1.5s ease;
    animation-fill-mode: forwards;
}
@keyframes box2_ani1{
    0%{margin-right:150px;}
    50%{margin-right:-50px;}
    100%{margin-right:50px;}
}
#fullpage .about .wrap .box2 h3{
    font-size:40px; color:#000; font-weight:bold;
    margin:40px 0 15px 0;
    position: relative; right:20px;
    text-indent:30px;
    z-index: 1;
}
#fullpage .about .wrap .box2 h3 span:before{
    content:'';
    width: 30px; height: 30px;
    background:linear-gradient(to top,#b2edff,#ff9fb8);
    position: absolute; right:27 0px; bottom:3px;
    transform: skewX(45deg);
    z-index:-1;
}
#fullpage .about .wrap .box2 h3:first-child{
    margin-top:0;
}
#fullpage .about .wrap .box2 p{
    font-size:20px; color:#666; font-weight:500;
    line-height:25px;
}
#fullpage .about .wrap .box2 .mail{
    position: relative;
}
#fullpage .about .wrap .box2 .mail:after{
    content:'';
    width:0; height: 0;
    border-top:5px solid transparent;    
    border-bottom:5px solid transparent;
    border-left:10px solid #ccc;
    position: absolute; right:110px; top:55%;
    transform: translateY(-50%);
    cursor: pointer;
}
#fullpage .about .wrap .box3{
    /* border:1px solid red; */
    margin:0px 0 0 20px;
    float:left;
    display:none;
    width:30%;
    animation:box3_ani1 1.5s ease;
    animation-fill-mode: forwards;
}
#fullpage .about .wrap .box3.on{
    
}
@keyframes box3_ani1{
    0%{margin-left:20px;}
    50%{margin-left:-50px;}
    100%{margin-left:20px;}
}
#fullpage .about .wrap .box3 h3{
    font-size:20px; color:#666; font-weight:bold;
    margin:40px 0 10px 0;
    position: relative;
}
#fullpage .about .wrap .box3 h3:before{
    content:'';
    width: 10%; height: 2px;
    background: rgba(204, 204, 204, 0.5);
    position: absolute; left:0; top:-10px;
}
#fullpage .about .wrap .box3 h3:first-child{
    margin-top:0;
}
#fullpage .about .wrap .box3 h3:first-child:before{
    display:none;
}
#fullpage .about .wrap .box3 .chart{
    border:3px solid #ccc;
    width: 300px; height: 30px;
    border-radius: 10px;
    background:rgba(204, 204, 204, 0.5);
}
#fullpage .about .wrap .box3 .chart span{
    display:block;
    width: 90%; height: 100%;
    background:linear-gradient(to right,#b2edff,#ff9fb8);
    border-radius:7px;
    line-height: 30px;
    text-indent:10px;
    animation:chart_ani90 3s ease;
}
#fullpage .about .wrap .box3 .html span{
}
#fullpage .about .wrap .box3 .css span{
}
#fullpage .about .wrap .box3 .java span{
    width: 60%;
    animation:chart_ani60 3s ease;
}
#fullpage .about .wrap .box3 .jq span{
    width: 70%;
    animation:chart_ani70 3s ease;
}
#fullpage .about .wrap .box3 .photo span{
}
#fullpage .about .wrap .box3 .illu span{
   width: 80%;
   animation:chart_ani80 3s ease;
}
@keyframes chart_ani90{
    0%{width: 0;}
    100%{width:90%;}
}
@keyframes chart_ani80{
    0%{width: 0;}
    100%{width:80%;}
}
@keyframes chart_ani70{
    0%{width: 0;}
    100%{width:70%;}
}
@keyframes chart_ani60{
    0%{width: 0;}
    100%{width:60%;}
}


/* responsive */
/* responsive */
#fullpage .responsive{
    position: relative;
    overflow: hidden;
}
#fullpage .responsive .rsp_inner1{
    width: 100%; height:1%;
    background:#b2edff;
    position: absolute; left: 0; top:86%;
    transform:skewY(-3deg);
    z-index:2;
}
#fullpage .responsive .rsp_inner2{
    width: 100%; height:4%;
    background: #eceaf8c3;
    position: absolute; right: 0; top:84%;
    transform:skewY(4deg);
    z-index:0;
}
#fullpage .responsive .rsp_inner3{
    width: 100%; height:50%;
    background: linear-gradient(#9d9ea0 5%, #eceaf8c3, #9d9ea0);
    position: absolute; right: 0; top:0%;
}
#fullpage .responsive .slide_wrap{
    /* border:1px solid red; */
    position: relative; left:50%;
    transform: translate(-50%,0%);
    width: 70%;
    justify-content:center;
    display: inline-flex;
    
}
#fullpage .responsive .slide_wrap .rsp_slide{
    width: 400px; height:max-content;
    border:8px solid #eceaf8;
    border-top:60px solid #eceaf8;
    border-bottom:90px solid #eceaf8;
    border-radius:20px 20px 5px 5px;
    margin-right: 80px;
    box-shadow: 5px 5px 5px 5px gray;
    transform: scale(1.1);
}
#fullpage .responsive .slide_wrap .rsp_slide.on{
    animation: rsp_slide 1s ease forwards;
}
@keyframes rsp_slide{
    0%{transform: scale(1.1);}
    100%{transform: scale(1);}
}
#fullpage .responsive .slide_wrap .rsp_slide .box a{
    display: inline-block;
    width:400px; height: 300px;
    transform: translate(-50%);
    /* border:5px solid #9500ff; */
    margin:0 50%;
    text-indent:-99999px;
}
#fullpage .responsive .slide_wrap .rsp_slide .box1 a{
    background: url('../images/lafuma.jpg')no-repeat;
    background-size:400px 300px;
}
#fullpage .responsive .slide_wrap .rsp_slide .box2 a{
    background: url('../images/elite.jpg')no-repeat;
    background-size:400px 300px;
}
#fullpage .responsive .slide_wrap .rsp_slide p{
    font-size:5em; color:#333;
    border:1px solid red;
    position: absolute; top:50%;left: 50%;
    transform: translate(-50%);
    background: #000;
}
#fullpage .responsive .slide_wrap .web_slide{
    width: 400px; height:max-content;
    border:8px solid #eceaf8;
    border-top:60px solid #eceaf8;
    border-bottom:90px solid #eceaf8;
    border-radius:20px 20px 5px 5px;
    margin-right: 80px;
    box-shadow: 5px 5px 5px 5px gray;
    transform: scale(1.1);
}
#fullpage .responsive .slide_wrap .web_slide.on{
    animation: rsp_slide 1s ease forwards;
}
#fullpage .responsive .slide_wrap .web_slide .box a{
    display: inline-block;
    width:400px; height: 300px;
    transform: translateX(-50%);
    /* border:3px solid #ccc; */
    margin:0 52.1%;
    text-indent:-99999px;
}
#fullpage .responsive .slide_wrap .web_slide .box1 a{
    background: url('../images/daelim.jpg')no-repeat;
    background-size:400px 300px;
}
#fullpage .responsive .slide_wrap .web_slide .box2 a{
    background: url('../images/podopot.jpg')no-repeat;
    background-size:400px 300px;
}
#fullpage .responsive .slide_wrap .web_slide .box3 a{
    background: url('../images/nongshim.jpg')no-repeat;
    background-size:400px 300px;
}
#fullpage .responsive .slide_wrap .m_slide{
    width: 250px; height: 450px;
    border:8px solid #eceaf8;
    border-top:60px solid #eceaf8;
    border-bottom:90px solid #eceaf8;
    border-radius:20px 20px 5px 5px;
    margin-right: 80px;
    box-shadow: 5px 5px 5px 5px gray;
    transform: scale(1.1);
}
#fullpage .responsive .slide_wrap .m_slide.on{
    animation: rsp_slide 1s ease forwards;
}
#fullpage .responsive .slide_wrap .m_slide .box a{
    display: inline-block;
    width:270px; height:290px;
    transform: translateX(-50%); left:50%;
    margin:0 57.5%;
    text-indent:-99999px;
}
#fullpage .responsive .slide_wrap .m_slide .box1 a{
    background: url('../images/subway.jpg')no-repeat;
    background-size:250px 300px;
}
#fullpage .responsive .slide_wrap .m_slide .box2 a{
    background: url('../images/lg.jpg')no-repeat;
    background-size:250px 300px;
}
#fullpage .responsive .slide_wrap .m_slide .box3 a{
    background: url('../images/asan.jpg')no-repeat;
    background-size:250px 300px;
}

/* moving-text */
#fullpage .responsive .respon_text{
    /* transform: rotate(-40deg); */
}
#fullpage .responsive .respon_text p{
    /* border:1px solid red; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:max-content;
    font-size: 30px; color:#ff9fb8; font-weight: bold;
    position:absolute; top:0%; left:5%;
    transform: translate(-50%);
    animation:respon_ani 4s linear infinite;
    animation-fill-mode:forwards;
    transform: rotate(-45deg);
}
@keyframes respon_ani{
    0%{margin:650px -650px;}
    100%{margin:-650px 650px;}
}
#fullpage .responsive .respon_text p:nth-child(2){
    /* border:1px solid red; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:max-content;
    font-size: 30px; color:#b2edff; font-weight: bold;
    margin:-650px 650px;
    position:absolute; top:0%; left:7%;
    transform: translate(-50%);
    animation:respon_ani2 4s linear infinite 2s; 
    animation-fill-mode:forwards;
    transform: rotate(-45deg);
}
@keyframes respon_ani2{
    0%{margin:-650px 650px;}
    100%{margin:650px -650px;}
}


/* web new graphic */
/* web new graphic */
#fullpage .web{
    position: relative;
    overflow: hidden;
}
#fullpage .web .web_inner1{
    width: 100%; height:500px;
    background: #666;
    position: absolute; left: 0; top:30%;
    transform:skewY(5deg);
    z-index:1;
}
#fullpage .web .web_inner2{
    width: 100%; height:200px;
    background: #ccc;
    position: absolute; left: 0; top:42.5%;
    transform:skewY(-20deg);
    z-index:0;
}
#fullpage .web .web_inner2:before{
    content:'';
    width: 100%; height:30px;
    background: #000;
    position: absolute; left: 0; top:40%;
    transform:skewY(-10deg);
}
#fullpage .web .slide_wrap .web_slide{
    width: 1200px; height: 500px;
    margin:0px auto;
    position: relative;
    /* border:1px solid red; */
    z-index: 3;
}
#fullpage .web .slide_wrap .web_slide .box a{
    display: inline-block;
    width:800px; height: 450px;
    transform: translateX(-50%);
    margin:0 50%;
    text-indent:-99999px;
    border:3px solid #000;
}
#fullpage .web .slide_wrap .web_slide .box1 a{
    background: url('../images/daelim.jpg')no-repeat;
    background-size:800px 450px;
}
#fullpage .web .slide_wrap .web_slide .box2 a{
    background: url('../images/podopot.jpg')no-repeat;
    background-size:800px 450px;
}
#fullpage .web .slide_wrap .web_slide .box3 a{
    background: url('../images/nongshim.jpg')no-repeat;
    background-size:800px 450px;
}

/* slick-arrow */
/* slick-arrow */
.slick-prev{
    position: absolute; left:15px; top:115%;
    transform: translateY(-50%) rotate(-45deg);
    width:50px; height:50px;
    border-top:10px solid #9d9ea0; border-bottom:10px solid transparent;
    border-left:10px solid #9d9ea0; border-right:10px solid transparent;
    background:none;
    text-indent:-99999px;
    cursor: pointer;
    z-index:5;
}
.slick-prev:hover{
    transform: translateY(-50%) scale(1.1) rotate(-45deg);
}
.slick-prev:before{
    content:'';
    width:25px; height:25px;
    border-top:8px solid #b2edff;
    border-bottom:8px solid transparent;
    border-left:8px solid #ff9fb8;
    border-right:8px solid transparent;
    background:none;
    position: absolute; left:70%; top:70%;
    transform: translate(-50%,-50%);
    animation:slick_ani1 0.5s linear alternate infinite;
}
.slick-next{
    position: absolute; right:15px; top:115%;
    transform: translateY(-50%) rotate(-45deg);
    width:50px; height:50px;
    border-top:10px solid transparent; border-bottom:10px solid #9d9ea0;
    border-left:10px solid transparent; border-right:10px solid #9d9ea0;
    background:none;
    z-index:50;
    cursor: pointer;
    text-indent:-99999px;
}
.slick-next:hover{
    transform: translateY(-50%) scale(1.1) rotate(-45deg);
}
.slick-next:before{
    content:'';
    width:25px; height:25px;
    border-top:8px solid transparent; border-bottom:8px solid #b2edff;
    border-left:8px solid transparent; border-right:8px solid #ff9fb8;
    background:none;
    position: absolute; right:-75%; bottom:-70%;
    transform: translate(-50%,-50%);
    animation:slick_ani2 0.5s 0.5s linear alternate infinite;
}
@keyframes slick_ani1{
    0%{left: 70%; top: 70%;}
    100%{left: 50%; top: 50%;}
}
@keyframes slick_ani2{
    0%{right: -90%; bottom: -85%;}
    100%{right: -70%; bottom: -65%;}
}

/* mobile */
/* mobile */
#fullpage .mobile{
    position: relative;
    overflow: hidden;
}
#fullpage .mobile .m_inner1{
    width: 100%; height:500px;
    background: #666;
    position: absolute; left: 0; top:30%;
    transform:skewY(5deg);
    z-index:1;
}
#fullpage .mobile .m_inner2{
    width: 100%; height:200px;
    background: #ccc;
    position: absolute; left: 0; top:42.5%;
    transform:skewY(-20deg);
    z-index:0;
}
#fullpage .mobile .m_inner2:before{
    content:'';
    width: 100%; height:30px;
    background: #fff;
    position: absolute; left: 0; top:40%;
    transform:skewY(-10deg);
}
#fullpage .mobile .slide_wrap .m_slide{
    width: 800px; height: 500px;
    margin:0px auto;
    position: relative;
    /* border:1px solid red; */
    z-index: 3;
}
#fullpage .mobile .slide_wrap .m_slide .box a{
    display: inline-block;
    width:461px; height:603px;
    transform: translateX(-50%);
    margin:0px 50%;
    text-indent:-99999px;
    border:3px solid #fff;
}
#fullpage .mobile .slide_wrap .m_slide .box1 a{
    background: url('../images/subway.jpg')no-repeat;
    background-size:461px 603px;
}
#fullpage .mobile .slide_wrap .m_slide .box2 a{
    background: url('../images/lg.jpg')no-repeat;
    background-size:461px 603px;
}
#fullpage .mobile .slide_wrap .m_slide .box3 a{
    background: url('../images/asan.jpg')no-repeat;
    background-size:461px 603px;
}

/* graphic */
/* graphic */
/* cover2 */
#fullpage .cover2{
    width: 100%; height: 100%;
    position:relative; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.9);
    display: none;
    z-index:1;
}
#fullpage .cover2 li.on{
    display:inline-block;
    width: 350px; height: 450px;
    position: absolute; left: 50%; top: 50%;
    background:url('../graphic_design/banner/banner1.jpg')no-repeat;
    transform: translate(-50%,-50%);
    border:10px solid brown;
    cursor: pointer;
}
#fullpage .cover2 .c_gp2.on{
    background:url('../graphic_design/banner/banner2.jpg')no-repeat;
}
#fullpage .cover2 .c_gp3.on{
    background:url('../graphic_design/banner/banner3.jpg')no-repeat;
}
#fullpage .cover2 .c_gp4.on{
    width: 400px; height: 400px;
    background:url('../graphic_design/brush/연습4.jpg')no-repeat;
}
/* graphic */
#fullpage .graphic{
    background: linear-gradient(45deg, #b2edff ,#9d9ea0);
}
#fullpage .graphic .gp_wrap{
    /* border:5px solid red; */
    width: max-content ;
    position: absolute; top: 55%; left: 35%;
    transform: translate(-50%, -50%);
}
#fullpage .graphic .gp_wrap .gp_inner{
    /* border:1px solid yellow; */
    width:550px; height:700px;
}
#fullpage .graphic .gp_wrap .gp_inner_2{
    content:'';
    width:550px; height:700px;
    border:15px dashed #ffbecf;
    background-color: #eceaf8;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index:-2;
    opacity:0;
}
#fullpage .graphic .gp_wrap .gp_inner_2.on{
    animation: gp_ani2 1.5s ease forwards;
}
#fullpage .graphic .gp_wrap .gp_inner_3{
    content:'';
    width:550px; height:700px;
    border:15px double #ff9db7;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index:-1;
    opacity: 0;
}
#fullpage .graphic .gp_wrap .gp_inner_3.on{
    animation: gp_ani2 1.5s ease forwards;
}
@keyframes gp_ani2{
    0%{transform: translate(-50%, 0%);
    opacity: 0;}
    100%{transform: translate(-50%, -50%);
    opacity: 1;}
}
#fullpage .graphic .gp_wrap .gp_inner .gp_a{
    width: 230px; height: 270px;
    border:2px solid #9d9ea0;
    border-radius:0 20px 0 20px;
    float:left;
    margin:60px 20px 0;
    cursor: pointer;
    opacity:0;
}
#fullpage .graphic .gp_wrap .gp_inner .gp_a.on{
    animation: gp_ani1 1.5s ease 1.5s forwards;
}
@keyframes gp_ani1{
    0%{opacity: 0; margin:-25px;}
    100%{opacity: 1;}
}
#fullpage .graphic .gp_wrap .gp_inner .gp1{
    background: url('../images/banner1.jpg')no-repeat;
    background-size:230px 270px;
}
#fullpage .graphic .gp_wrap .gp_inner .gp2{
    background: url('../images/banner2.jpg')no-repeat;
    background-size:230px 270px;
    margin-right:0;
}
#fullpage .graphic .gp_wrap .gp_inner .gp3{
    background: url('../images/banner3.jpg')no-repeat;
    background-size:230px 270px;
    margin-top:20px;
    margin-bottom:0;
}
#fullpage .graphic .gp_wrap .gp_inner .gp4{
    background: url('../images/brush.jpg')no-repeat;
    background-size:230px 270px;
    margin-top:20px;
    margin-bottom:0;
    margin-right:0;
}

#fullpage .graphic .gp_wrap .gp_inner2{
    position: absolute; top: 45%; right:-135%;
    transform: translate(-50%, -50%);
    /* border:5px solid blue; */
}
#fullpage .graphic .gp_wrap .gp a{
    float:right;
    width: 450px; height: 230px;
    border:3px solid #b2edff;
    border-radius:15px 0 15px 30px;
    margin:0 0 20px 0;
    cursor: pointer;
}
#fullpage .graphic .gp_wrap .gp a:hover{
    transform: scale(1.1);
    transform-origin: top bottom;
    transition:all 0.1s linear;
}
#fullpage .graphic .gp_wrap .gp5 a{
    background: url('../images/logi.jpg')no-repeat;
    background-size:450px 230px;
    margin-top:50px;
}
#fullpage .graphic .gp_wrap .gp6 a{
    background: url('../images/tesla.jpg')no-repeat;
    background-size:450px 230px;
}
#fullpage .graphic .gp_wrap .gp7 a{
    background: url('../images/laptop.jpg')no-repeat;
    background-size:450px 230px;
    margin-bottom:0;
}


/* footer */
/* footer */
#fullpage .footer{
    border-top:1px solid #000;
}

#fullpage .footer .tit{
    float:left;
    font-size:12px;
    line-height:40px;
    margin:0 0 0 50px;
}
#fullpage .footer .copy{
    float:right;
    font-size:12px;
    line-height:40px;
    margin:0 50px 0 0;
}
